@model Jumpchain.Models.JumperCreate

@{
    ViewBag.Title = "JumperCreate";
}

<h2>Summon your Jumper</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Enter your Jumper name.</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.JumperName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.JumperName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.JumperName, "", new { @class = "text-danger" })
            </div>
        </div>
        <p>Add any notes about your Jumper's journey.</p>
        <div class="form-group">
            @Html.LabelFor(model => model.JumperNotes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.JumperNotes, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.JumperNotes, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Summon Jumper" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Jumpers", "JumperIndex")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
